Repository qagid/github-actions, pull requests merged in 2020-05, with the labels that each got.

#2 Update readme file
  README.md
Labels: type:other

#9 Add labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
  src/test/java/io/eroshenkoam/allure/FavoritesWebTest.java
Labels: theme:workflow

#10 Add label verify
  .github/workflows/label-verify.yml
Labels: theme:workflow, type:other

#11 Add release draffter
  .github/release-drafter.yml
  .github/workflows/release-draft.yml
Labels: theme:workflow, type:other
